<div class="well">
  <div class="pull-right">
    <%=link_to "Edit Application", [:edit, @application], class: "btn" %>
  </div>
  <h1>Application: <%= @application.name %></h1>
</div>


<%= link_to "Create Page", [:new, @application, :page], class: "btn btn-primary pull-right" %>
<h2>Pages <%= @application.pages.count %></h2>

<div id="application">
  <%= render @application %>
</div>
