<div class="row">
  <div class="span12">
    <p class="alert alert-warning text-align">DRAFT</p>
    <div class="well">
      <h1>Project: i22</h1>
    </div>
    <h2>Table of Contents</h1>
  </div>
</div>

<div class="row">
  <div class="span10 offset2">
  <%= render partial: 'applications/table_of_contents', 
    locals: {application: @application}%>
  </div>
</div>
<div class="page_break"></div>

<% @application.pages.group_by{|p| p.folder.downcase}.each do |folder, pages| %>
  <%pages.sort_by{|p| p.order.to_i}.each do |page|%>
    <div class="row">
      <div class="span12">
        <p class="alert alert-warning text-align">DRAFT</p>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= content_tag(:h1, page.title, class: 'report-title')%>
      </div>
    </div>
    <div class="well">
      <p>
        <%= page.description %>
      </p>
    </div>
    <div class="page">
      <div class="main">
        <%= image_tag page.image.url(:page), id: "page-image"%>
        <br/>
        <div class="footer">
          <%= page.footer %>
        </div>
      </div>
      <aside> 
        <%= page.sidebar %>
      </aside>
    </div>
    <div class="page_break"></div>
  <% end %>
<% end %>
