<div class="row">
  <div class="span12">
    <h1><%= best_in_place @page, :title, path: [@page.application, @page]%></h1>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path%><span class="divider">/</span></li>
      <li><%= link_to "Application", @page.application%><span class="divider">/</span></li>
      <li class="active">Page</li>
    </ul>
    <div class="well">
      <p>
      <%= best_in_place @page, :description, 
        path: [@page.application, @page],
        type: :textarea%>
      </p>
    </div>
  </div>
</div>

<div class="page">
  <div class="main">
    <%= image_tag @page.image.url(:page), id: "page-image"%>
    <br/>
    <%= best_in_place @page, :remote_image_url, 
      path: [@page.application, @page],
      activator: "#page-image", nil: ' '%>
    <div class="footer">
      <%= best_in_place @page, :footer,
        path: [@page.application, @page],
        type: :textarea%>
    </div>
  </div>
  <aside> 
    <h6>Placement</h6>
    <ul>
      <li>Folder: <%= best_in_place @page, :folder, path: [@page.application, @page]%></li>
      <li>Order: <%= best_in_place @page, :order, path: [@page.application, @page]%></li>
    </ul>
    <%= best_in_place @page, :sidebar,
      path: [@page.application, @page],
      type: :textarea%>
  </aside>
</div>
