<div class="row">
  <div class="span12">
    <h1><%= @page.title%></h1>
    <div class="well"><p><%= @page.description %></p></div>
  </div>
</div>

<div class="page">
  <div class="main">
    <%= image_tag @page.image.url(:page) %>
    <div class="footer"><%= @page.footer %></p></div>
  </div>
  <aside> 
    <%= @page.sidebar %>
  </aside>
</div>
