<!DOCTYPE html>
<html>
<head>
  <title>Runbookapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">

  <div class="container">
    <%= yield %>
  </div>

  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
</body>
</html>
